/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/styles.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 12, ../sass/styles.scss */
.header {
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  background: #E91E63;
  position: fixed;
  top: 0;
  z-index: 1000;
}
@media (min-width: 800px) {
  /* line 12, ../sass/styles.scss */
  .header {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    -webkit-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
  }
}

@media (min-width: 800px) {
  /* line 35, ../sass/styles.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

@media (max-width: 799px) {
  /* line 42, ../sass/styles.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

/* line 50, ../sass/styles.scss */
.menu-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
  height: 50px;
}
/* line 60, ../sass/styles.scss */
.menu-desktop #menu-desktop-logo {
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 401;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
/* line 84, ../sass/styles.scss */
.menu-desktop #menu-desktop-logo:hover {
  cursor: pointer;
}
/* line 90, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-upper {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  flex: 0;
}
/* line 100, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower {
  background-color: transparent;
  max-height: 35px;
  padding: 5px;
  max-width: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* line 112, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower #menu-desktop-lower-inner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* line 119, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  font-family: 'Merriweather', serif;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 8px;
  position: relative;
  font-size: 18px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 2;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in-out 2;
  animation: fadeIn ease-in-out 2;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
/* line 139, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn-selected {
  color: bolder;
  opacity: 1;
}
/* line 143, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:hover,
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:focus,
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:active {
  cursor: pointer;
  color: #EF037C;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

/* line 161, ../sass/styles.scss */
.menu-mobile-panel {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  font-weight: lighter;
  background: #B2FFDB;
  display: flex;
  flex-direction: column;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  position: fixed;
  bottom: 0px;
  top: 50px;
  left: 0;
  z-index: 500;
  height: 100%;
  text-align: center;
  padding-top: 24px;
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 181, ../sass/styles.scss */
.menu-mobile-panel a {
  text-decoration: none;
}
/* line 185, ../sass/styles.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  line-height: 16px;
  font-size: 18px;
  padding: 5px;
  font-variant: all-petite-caps;
  color: black;
}
@media (max-width: 800px) {
  /* line 185, ../sass/styles.scss */
  .menu-mobile-panel .menu-desktop-btn {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  /* line 161, ../sass/styles.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 213, ../sass/styles.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 221, ../sass/styles.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 227, ../sass/styles.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
/* line 269, ../sass/styles.scss */
#header-desktop-left {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* line 276, ../sass/styles.scss */
.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 284, ../sass/styles.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 299, ../sass/styles.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 313, ../sass/styles.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 320, ../sass/styles.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 327, ../sass/styles.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 337, ../sass/styles.scss */
#Page-1 #window, #Page-1 #body {
  -webkit-animation: rocket-color 1s infinite;
  -o-animation: rocket-color 1s infinite;
  animation: rocket-color 1s infinite;
  fill: black;
}

@keyframes rocket-color {
  0% {
    fill: blue;
  }
  100% {
    fill: green;
  }
}
