/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/styles.scss */
* {
  font-family: Arial, sans-serif !important;
}

/* line 11, ../sass/styles.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 18, ../sass/styles.scss */
.header {
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  background: #E91E63;
  position: fixed;
  top: 0;
  z-index: 1000;
}
@media (min-width: 800px) {
  /* line 18, ../sass/styles.scss */
  .header {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    -webkit-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
  }
}

@media (min-width: 800px) {
  /* line 41, ../sass/styles.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

@media (max-width: 799px) {
  /* line 48, ../sass/styles.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

/* line 56, ../sass/styles.scss */
.menu-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
  height: 50px;
}
/* line 66, ../sass/styles.scss */
.menu-desktop #menu-desktop-logo {
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 401;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
/* line 90, ../sass/styles.scss */
.menu-desktop #menu-desktop-logo:hover {
  cursor: pointer;
}
/* line 96, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-upper {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  flex: 0;
}
/* line 106, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower {
  background-color: transparent;
  max-height: 35px;
  padding: 5px;
  max-width: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* line 118, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower #menu-desktop-lower-inner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* line 125, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  font-family: 'Merriweather', serif;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 8px;
  position: relative;
  font-size: 18px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 2;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in-out 2;
  animation: fadeIn ease-in-out 2;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
/* line 145, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn-selected {
  color: bolder;
  opacity: 1;
}
/* line 149, ../sass/styles.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:hover,
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:focus,
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:active {
  cursor: pointer;
  color: #EF037C;
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -ms-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

/* line 167, ../sass/styles.scss */
.menu-mobile-panel {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  font-weight: lighter;
  background: #B2FFDB;
  display: flex;
  flex-direction: column;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  position: fixed;
  bottom: 0px;
  top: 50px;
  left: 0;
  z-index: 500;
  height: 100%;
  text-align: center;
  padding-top: 24px;
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 187, ../sass/styles.scss */
.menu-mobile-panel a {
  text-decoration: none;
}
/* line 191, ../sass/styles.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  margin-left: 15px;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  line-height: 16px;
  font-size: 18px;
  padding: 5px;
  font-variant: all-petite-caps;
  color: black;
}
@media (max-width: 800px) {
  /* line 191, ../sass/styles.scss */
  .menu-mobile-panel .menu-desktop-btn {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  /* line 167, ../sass/styles.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 219, ../sass/styles.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 227, ../sass/styles.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 233, ../sass/styles.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
/* line 275, ../sass/styles.scss */
#header-desktop-left {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* line 282, ../sass/styles.scss */
.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 290, ../sass/styles.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 305, ../sass/styles.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #000;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 319, ../sass/styles.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 326, ../sass/styles.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 333, ../sass/styles.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 342, ../sass/styles.scss */
#header-desktop {
  display: flex;
  width: 100%;
  flex-direction: row;
}
/* line 346, ../sass/styles.scss */
#header-desktop div {
  flex: 1;
}
/* line 349, ../sass/styles.scss */
#header-desktop .desktop-link-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 354, ../sass/styles.scss */
#header-desktop .desktop-link-nav a {
  white-space: nowrap;
  text-decoration: none;
  color: white;
  margin: 5px;
}

/* line 364, ../sass/styles.scss */
#Page-1 #window, #Page-1 #body {
  -webkit-animation: rocket-color 1s infinite;
  -o-animation: rocket-color 1s infinite;
  animation: rocket-color 1s infinite;
  fill: black;
}

@keyframes rocket-color {
  0% {
    fill: blue;
  }
  100% {
    fill: green;
  }
}
/* line 384, ../sass/styles.scss */
#header-desktop-img {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
/* line 388, ../sass/styles.scss */
#header-desktop-img img {
  margin-left: -70px;
}

/* line 394, ../sass/styles.scss */
#main-video {
  position: relative;
}
/* line 400, ../sass/styles.scss */
#main-video div {
  position: absolute;
  color: white;
  top: calc(50% - 50px);
  left: calc(50% - 180px);
  z-index: 500;
}

/* line 409, ../sass/styles.scss */
#main-resumen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -10px;
}
/* line 414, ../sass/styles.scss */
#main-resumen #proyectos-presentados,
#main-resumen #empresas-incubadas,
#main-resumen #pesos-financiados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 360px;
}
/* line 423, ../sass/styles.scss */
#main-resumen #proyectos-presentados .resumen-detalle,
#main-resumen #empresas-incubadas .resumen-detalle,
#main-resumen #pesos-financiados .resumen-detalle {
  max-width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
}
/* line 431, ../sass/styles.scss */
#main-resumen #proyectos-presentados .circle-container,
#main-resumen #empresas-incubadas .circle-container,
#main-resumen #pesos-financiados .circle-container {
  position: relative;
  height: 100px;
  width: 100px;
}
/* line 435, ../sass/styles.scss */
#main-resumen #proyectos-presentados .circle-container .texto-circle,
#main-resumen #empresas-incubadas .circle-container .texto-circle,
#main-resumen #pesos-financiados .circle-container .texto-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  pointer-events: none;
}
/* line 449, ../sass/styles.scss */
#main-resumen #proyectos-presentados {
  background-color: #FF5722;
  flex: 1;
}
/* line 454, ../sass/styles.scss */
#main-resumen #empresas-incubadas {
  background-color: #8BC34A;
  flex: 1;
}
/* line 460, ../sass/styles.scss */
#main-resumen #pesos-financiados {
  background-color: #E91E63;
  flex: 1;
}

/* line 468, ../sass/styles.scss */
.wrapper {
  width: 100px;
  /* Set the size of the progress bar */
  height: 100px;
  position: absolute;
  /* Enable clipping */
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/* line 480, ../sass/styles.scss */
.wrapper:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}

/* Set the sizes of the elements that make up the progress bar */
/* line 489, ../sass/styles.scss */
.circle {
  width: 80px;
  height: 80px;
  border: 10px solid #EFEBE9;
  border-radius: 50px;
  position: absolute;
  clip: rect(0px, 50px, 100px, 0px);
}

/* line 498, ../sass/styles.scss */
.right {
  -webkit-transform: rotate(200deg);
  transform: rotate(250deg);
}

/* line 503, ../sass/styles.scss */
.left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 509, ../sass/styles.scss */
#integrantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 515, ../sass/styles.scss */
#integrantes #integrantes-list {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 523, ../sass/styles.scss */
#integrantes #integrantes-list .integrante {
  position: relative;
  height: 170px;
  width: 170px;
  border: 0 solid;
  border-radius: 170px;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 534, ../sass/styles.scss */
#integrantes #integrantes-list .integrante img {
  height: 160px;
  width: 160px;
  margin: 10px;
}
/* line 539, ../sass/styles.scss */
#integrantes #integrantes-list .integrante .nombre, #integrantes #integrantes-list .integrante .detalle {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
}

/* line 552, ../sass/styles.scss */
#incubadoras-adheridas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 557, ../sass/styles.scss */
#incubadoras-adheridas #incubadoras-adheridas-list {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 564, ../sass/styles.scss */
#incubadoras-adheridas #incubadoras-adheridas-list .incubadora {
  margin: 10px;
  height: 160px;
  width: 160px;
  background-color: #009688;
}

/* line 576, ../sass/styles.scss */
#contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 582, ../sass/styles.scss */
#contacto #contacto-full-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 588, ../sass/styles.scss */
#contacto #contacto-full-container .contacto-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 598, ../sass/styles.scss */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 602, ../sass/styles.scss */
#footer #footer-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
