//botones
$color1: #334d00;

@import "compass";
@import "compass/reset";

body {
  height: 100%;
  width: 100%;
}

.header {
  font-family: 'Merriweather', serif;
  font-weight: bolder;
  color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  @include background(#E91E63);
  position: fixed;
  top: 0;
  z-index: 1000;
  @media (min-width: 800px) {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    -webkit-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
  }
}

.menu-type-mobile {
  @media (min-width: 800px) {
    visibility: collapse;
    display: none !important;
  }
}

.menu-type-desktop {

  @media (max-width: 799px) {
    visibility: collapse;
    display: none !important;
  }
}

.menu-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
  height: 50px;
  #menu-desktop-logo {
    background-color: transparent;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    z-index: 401;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;

    img {

    }

  }

  #menu-desktop-logo:hover {
    cursor: pointer;
  }

  #menu-desktop-right {

    #menu-desktop-upper {

      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      flex: 0;
    }

    #menu-desktop-lower {
      background-color: transparent;
      max-height: 35px;
      padding: 5px;
      max-width: 100%;

      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;

      #menu-desktop-lower-inner {
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .menu-desktop-btn {
        cursor: pointer;
        font-family: 'Merriweather', serif;
        color: #000;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 8px;
        position: relative;
        font-size: 18px;
        opacity: 0;
        -webkit-animation: fadeIn ease-in-out 2; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation: fadeIn ease-in-out 2;
        animation: fadeIn ease-in-out 2;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        animation-duration: 2s;
      }

      .menu-desktop-btn-selected {
        color: bolder;
        opacity: 1;
      }
      .menu-desktop-btn:hover,
      .menu-desktop-btn:focus,
      .menu-desktop-btn:active {
        cursor: pointer;
        color: #EF037C;
        opacity: 1;
        -webkit-transition: opacity 2s ease;
        -moz-transition: opacity 2s ease;
        -ms-transition: opacity 2s ease;
        -o-transition: opacity 2s ease;
        transition: opacity 2s ease;
      }

    }
  }

}

.menu-mobile-panel {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  font-weight: lighter;
  background: #B2FFDB;
  display: flex;
  flex-direction: column;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  position: fixed;
  bottom: 0px;
  top: 50px;
  left: 0;
  z-index: 500;
  height: 100%;
  text-align: center;
  padding-top: 24px;
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  a {
    text-decoration: none;
  }

  .menu-desktop-btn {
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    line-height: 16px;
    font-size: 18px;
    padding: 5px;
    font-variant: all-petite-caps;
    color: black;
    @media (max-width: 800px) {
      font-size: 24px;
    }

  }

  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);

  @media (min-width: 800px) {
    visibility: collapse;
    display: none;
  }
}

.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

.menu-mobile-panel-show-remove {

  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }

}

@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}

#header-desktop-left {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav-button {
  flex: 1;

  margin-top: 15px;
  margin-left: 15px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  transform-origin: 13px 13px;
  transform-style: preserve-3D;

  div {
    cursor: pointer;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
    margin: 4px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .nav-button-top-transformed {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-button-mid-transformed {
    -webkit-transform: translate(-3px, 0px);
    -moz-transform: translate(-3px, 0px);
    -ms-transform: translate(-3px, 0px);
    -o-transform: translate(-3px, 0px);
    transform: translate(-3px, 0px);
  }
  .nav-button-bot-transformed {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

#Page-1 {
  #window, #body {
    -webkit-animation: rocket-color 1s infinite;
    -o-animation: rocket-color 1s infinite;
    animation: rocket-color 1s infinite;
    fill: black;
  }

}

@keyframes rocket-color {
  0%{
    fill: blue;
  }

  100%{
    fill: green;
  }

}



